{% extends 'base.html' %}

{% block content %}

<main class="main-container">
    <div class="container">


        <div class="user-content-container">
            <p class="name"><b>Name: </b>{{ user.profile.name }}</p>
            <p class="address"><b>Address: </b>{{ user.profile.address }}</p>


        </div>

    </div>
</main>

<div class="container">
    {% for post in posts %}
    <!-- All posts have the same class "post" -->
    <div  class="post"  style="margin-bottom: 40px;">
        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <!-- Wrap author's name with anchor tag -->
                    <h4 class="mr-2"><p>{{ post.author }}</p></h4>
                    <h5 class="text-muted">{{ post.date_posted|date:"F d, Y" }}</h5><hr>
                    <h3><a style="color:black " class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                </div>
                {% if post.image %}
                <img class="article-image fixed-size-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}
