{% extends "base.html" %}
{% block content %}
    <h1>Posts uploaded on {{ date }}</h1>
    {% for post in posts %}
        <article class="media content-section">

            <div class="media-body">
                <div class="article-metadata">
                    <p class="mr-2">{{ post.author }}</p>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                {% if post.image %}
                    <img class="article-image fixed-size-image" src="{{ post.image.url }}" alt="{{ post.title }}" onclick="openImageModal('{{ post.image.url }}', '{{ post.title }}')">
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock %}